<div class="container">

  <div class="row">
    <img src="../../../assets/images/cabecera.png">
  </div>

  <div class="row">
    <div class="col">
      <div>
        <h3><strong>Registro realizdo correctamente</strong></h3>
        <p>Para completar el proceso de registro acceda al enlace incluido en su EMAIL q se le acaba de enviar</p>
        <p>Si no lo recibe, compruebe su carpeta Spam o correo no deseado</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a [routerLink]="['/Cliente/Login']" routerLinkActive="router-link-active">
        <img src="../../../assets/images/BotonVolverTienda.png">
      </a>
    </div>
  </div>

</div>
